<app-navbar-button></app-navbar-button>

<!-- This changes the header image depending on the park's name -->
<div class="container">
    <div class="img-container" [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}"></div>
</div>

<h1>{{park?.name}} Accessibility Information</h1>

<p id="intro">
    Guests are encouraged to download the free mobile app to their smartphone or tablet prior to their visit. This app provides access to information including real-time attraction wait times, entertainment times, and lets you make dining reservations. Additional information about services for Guests with disabilities can be found by visiting the website, which also offers a chat feature.
</p>

<div class="text-container">
    <div class="column1">
            <strong>ELECTRIC CONVEYANCE VEHICLES (ECVs) / MOTORIZED SCOOTERS, WHEELCHAIRS, & STROLLERS:</strong>
           <p>
                If a member of your party needs to rent a stroller, wheelchair, or ECV/motorized scooter at the Theme Parks, proceed to the Wheelchair & Stroller Rental location just inside the entrance at all four Theme Parks. Please plan to arrive early as a limited number of wheelchairs and ECVs are available for rent on a first-come, first-served basis. Guests must be at least 18 years of age to rent wheelchairs or ECVs, and a photo ID is required. 
            </p>
            <p>
                The maximum weight is 350 pounds for wheelchairs, and 450 pounds for ECVs. Wheelchairs and ECVs are not designed to hold more than one person.
            </p>

            <p>   
                When leaving your location, wheelchairs, ECVs, and strollers may not be removed from the destination where they were rented. When exiting your location, simply return your wheelchair, ECV, or stroller to the rental counter. When you visit your next destination, present your rental receipt to secure another wheelchair, ECV, or stroller, if available. If you misplace your stroller, replacements are available with a receipt at various locations throughout the Resort, based on availability.
            </p>
            <p><strong>Wheelchair Replacement Locations:</strong></p>
            <ul>
                <!-- This loops through the array of wheelchair replacement locations and displays them as list items -->
                <li *ngFor="let location of parkAccessibility?.wheelchairReplacementLocations">
                    {{location}}
                </li>
            </ul>

            <p>
                Length of Stay rentals are transferable between Malt Fizzby theme parks only. If you’ll require a wheelchair or stroller for a multi-day visit, you can save time and money by pre-paying for all days at the first theme park you visit. Please note that Length of Stay rental tickets may not be available during peak periods. Length of Stay rentals are not available for ECVs. However, vehicles can be held if Guests leave and return to the same park on the same day.
            </p> 
            <p>
                Guests are also invited to bring and use their own ECVs, wheelchairs and other mobility devices to be used throughout Walt Disney World® Resort. If you are bringing your own stroller, please note that strollers larger than 31" (79 cm) x 52" (132 cm) and all wagons are not permitted. If you have specific needs to accommodate you or your party, please see a security Cast Member when you arrive.
            </p>
            
            <p><strong>Rental Locations:</strong></p>
            <ul>
                <!-- This loops through the array of rental locations and displays them as list items -->
                <li *ngFor="let location of parkAccessibility?.rentalLocations">
                    {{ location }}
                </li>

                <ul>
                    <li>
                        Wheelchairs can be rented daily for $12 per day, or for the length of your stay (multi-day) for $10 per day. Daily rentals are transferable between all locations. You pay just once for the day.
                    </li>
                    <li>
                        ECV/motorized scooters require a $20 refundable deposit and can be rented daily for $65 per day. ECV rentals are transferable between all locations. You pay just once for the day. 
                    </li>
                    <li>
                        Single Strollers (recommended for children 50 lbs. or less) can be rented daily for $15 per day, or Multi-Day (Length of Stay) for $13. Double Strollers (recommended for children 100 lbs. or less) can be rented daily for $31 per day, or Multi-Day (Length of Stay) for $27.
                    </li>
                </ul>
            </ul>

            <strong>ACCESSING & NAVIGATING THE QUEUES:</strong>
            <p>
                Malt Fizzby World® Resort offers a variety of programs that assist Guests in accessing attraction queues. Some of the programs described below provide accommodations that may be required for specific types of mental or physical impairments. Guests with disabilities can learn more about these programs, including how they operate and whether they may be eligible, through a personalized conversation. Some of these options are available only at select attractions.
            </p>
            <p>
                * For walking or standing, you can bring a mobility device such as a wheelchair, ECV, walker with a seat or a cane chair.
            </p>
    
            <ul>
                <li>
                    <strong>DISABILITY ACCESS SERVICE (DAS):</strong>
                    <p>
                        DAS is a program offered at Malt Fizzby World® Resort Theme Parks to accommodate only those Guests who, due to a developmental disability like autism or similar, are unable to wait in a conventional queue for an extended period of time. DAS doesn’t provide immediate access to experiences, but rather allows Guests to request a return time for a specific experience that is comparable to the current standby wait.
                    </p>

                    <ul>
                        <li>
                            <strong>REGISTER:</strong>
                            <p>
                                Registration to determine eligibility is available via live video chat with a Cast Member as soon as 30 days in advance of a park visit. At this time, live chat is offered in English only. If DAS is provided after a conversation with a Cast Member to determine eligibility, the Guest with a disability (or a parent/guardian) will participate in the registration process, which requires having a photo taken of the DAS-registered Guest. DAS registration maximum party size is the registered DAS Guest and up to 3 additional party members, for a total of 4 people. DAS is valid for up to 120 days. Once the service has elapsed, Guests will need to re-register.
                            </p>
                        </li>
                        <li>
                            <strong>REQUEST A RETURN TIME:</strong>
                            <p>
                                After you’ve registered and entered the theme park, you can request your first return time. On the day of their visit, guests registered in DAS can make return time selections right in the mobile app, or directly from a Cast Member at any Guest Relations or Guest Experience Team location. Any member of a DAS party can obtain a return time for the whole party, but the Guest registered for DAS must be present and experience the attraction when the DAS return time is redeemed. The return time will be comparable to the current standby wait. DAS return times are valid until the park closes or an attraction closes for the day. A party can only hold one active DAS return time at once. After a return time has been redeemed, your party can request another one.
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <strong>RIDER SWITCH:</strong>
                    <p>
                        Rider Switch is a program available at most attractions throughout Malt Fizzby World® Resort which allows Guests to take turns waiting outside the attraction to allow the other to experience the ride before switching without waiting the full length of the queue again. With Rider Switch, Guests can wait with member(s) of their party who aren’t riding due to any of the reasons listed below. You may be able to use Rider Switch if a member of your party:
                    </p>

                    <ul>
                        <li>
                            Does not meet the boarding requirements, has a service animal that cannot board the attraction
                        </li>
                        <li>
                            Does not want to use a provided kennel
                        </li>
                        <li>
                            Meets boarding requirements and does not want to ride but cannot wait outside the queue on their own
                        </li>
                    </ul>
                </li>

                <li>
                    <strong>STROLLER AS A WHEELCHAIR TAG:</strong>
                    <p>
                        A “Stroller as a Wheelchair” Tag is for Guests with disabilities who use their stroller as a mobility device. This tool allows a Guest to treat their stroller as a wheelchair and keep their device with them in attraction queues. “Stroller as a Wheelchair” Tags are available for a Guest who meets one of the following:
                    </p>

                    <ul>
                        <li>
                            Is a child with a disability who uses their stroller as a mobility device in lieu of a traditional wheelchair
                        </li>
                        <li>
                            Is a child with additional medical equipment who needs a way to transport their equipment while in a queue
                        </li>
                        <li>
                            Is an adult with a mobility disability who uses a stroller as a mobility device to assist with walking
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>MOBILITY ACCESS OPTIONS:</strong>
                    <p>
                        Please inquire with a Cast Member at each attraction to learn more about boarding options which may include one or more of the following:
                    </p>

                    <ul>
                        <li>
                            Dedicated Guest with disabilities Load and Unload areas
                        </li>
                        <li>
                            Wheelchair Accessible Vehicle (WAV) that allows Guests to remain in their wheelchair without transferring
                        </li>
                        <li>
                            Transfer Accessible Vehicle (TAV) that simplifies the process of transferring in and out of vehicles (e.g., seat with folding bolster, door with swinging threshold)
                        </li>
                        <li>
                            Transfer Device that assists Guests transferring between a wheelchair and a ride vehicle seat
                        </li>
                    </ul>
                </li> 
            </ul>

            <strong>BREAK LOCATIONS:</strong>
            <p>All Parks: First Aid and quick service restaurant seating areas (during non-peak periods)</p>
            <ul>
                <!-- This loops through the array of break locations and displays them as list items -->
                <li *ngFor="let location of parkAccessibility?.breakLocations">
                    {{ location }}
                </li>

                <li>
                    First Aid Locations: {{ parkAccessibility?.firstAidLocations }}
                </li>
            </ul>
                  
            

            <strong>SERVICE ANIMALS:</strong>
            <p>
                Only trained service animals (a dog or miniature horse that has been individually trained to do work or perform tasks for an individual with a disability) are permitted inside the parks.
            </p>

            <ul>
                <li>
                    Service animals must be under the control of the owner at all times and should remain on a leash or in a harness. Cast Members are not able to take control of service animals. If a service animal must be off a leash or harness while performing its trained task(s), the animal must be controlled in a different way at all times (for example, voice commands or electronic collar). 
                </li>
                <li>
                    Service animals must be housebroken, and are required to behave and not bark, growl, jump up on, or lunge at Guests or Cast Members. Corrective action must be taken if the service animal is not behaving appropriately.
                </li>
                <li>
                    Service animals are permitted to experience many attractions. Service animals are required to be positioned on the floor of the vehicle, away from the vehicle opening. Guests may also choose to place smaller service dogs on their lap or in a front-of-body carrier.
                </li>
            </ul> 
        </div>
    
        <div class="column2">
            <ul>
                <p><strong>Service Animal Ride Restrictions:</strong></p>
                <li>
                    Due to the nature of some attractions, service animals may not be permitted to ride. Please ask a Cast Member at these locations about available options, including Rider Switch with a member of your party or a portable kennel.
                    <ul>
                        <!-- This loops through the array of locations with service animal ride restrictions and displays them as list items -->
                        <li *ngFor="let location of parkAccessibility?.serviceAnimalRestrictions_Ride">
                            {{ location }}
                        </li>
                    </ul>
                </li>

                <p><strong>Service Animal Boarding Restrictions:</strong></p>
                <li>
                    Guests with service animals should check with a host for attraction and boarding information at the following locations:
                    <ul>
                        <!-- This loops through the array of locations with service animal boarding restrictions and displays them as list items -->
                        <li *ngFor="let location of parkAccessibility?.serviceAnimalRestrictions_Board">
                            {{ location }}
                        </li>
                    </ul>
                </li>     
                <li>
                    Guests should reference the Sensory Experience Details of each attraction to have an understanding of show elements that may affect the service dog, including loud noises, lifts off the ground, elements of surprise and other effects.
                </li>
                <li>
                    Service animals must remain on the floor and not on dining chairs or tables in food and beverage locations.
                </li>
                <li>
                    Service animals are not allowed in water at any of the water parks. This includes water features and fountains, and within 4 feet of the water on pool or wet decks.
                </li>

                <p><strong>Service Animal Relief Areas:</strong></p>
                <li>
                    Service animals are permitted to use any open outdoor area for relief with the request that the owner picks up after the animal and leaves the area clean. There are also designated service animal relief areas which are located at:
                    <ul>
                        <!-- This loops through the array of designated service animal relief areas and displays them as list items -->
                        <li *ngFor="let location of parkAccessibility?.serviceAnimalReliefAreas">
                            {{ location }}
                        </li>
                    </ul>
                </li>
            </ul>
            
            <strong>BRAILLE GUIDEBOOKS & PORTABLE TACTILE MAP BOOKLET:</strong>
            <p>
                Braille Guidebooks feature descriptions of attractions, restaurants and stores printed in large text as well as Braille. Portable Tactile Map Booklets feature a representation of building boundaries, walkways and landmarks for each Theme Park. A limited number of Braille Guidebooks and Portable Tactile Map Booklets are available, on a first come, first-served basis at Theme Park Guest Relations locations and require a $25 refundable deposit. You must return the materials on the same day for a refund.
            </p>
            
            <strong>STATIONARY BRAILLE MAP:</strong>
            <p>
                Large format Stationary Braille/Tactile Maps are available at a minimum of two locations within the Theme Parks. These maps feature large print and Braille along with raised graphics and tactile elements to represent building boundaries, attractions, walking paths, bodies of water, restrooms and other landmarks.
            </p>
            <ul>
                <p><strong>Stationary Braille Map Locations:</strong></p>
                <!-- This loops through the array of stationary Braille map locations and displays them as list items -->
                <li *ngFor="let location of parkAccessibility?.stationaryBrailleMapLocations">
                    {{ location }}
                </li>
            </ul>
             
            <strong>FIZZBY’S HANDHELD DEVICE (ASSISTIVE TECHNOLOGY):</strong>
            <p>
                Through Fizzby’s Handheld Device, a ruggedized mobile device, Guests have access to Audio Description, Assistive Listening, or Handheld Captioning services. Fizzby’s Handheld Devices are available at Theme Park Guest Relations locations and require a $25 refundable deposit.
            </p>
            <ul>
                <li>
                    <strong>Audio Description</strong> provides supplemental audio of visual elements including actions, settings and scene changes for Guests with visual disabilities. It complements existing show audio at specific Theme Park attractions, entertainment and other locations. This service is also available in outdoor locations with specific content accessible via a built-in audio menu.
                </li>
                <li>
                    <strong>Assistive Listening</strong> amplifies sound through headphones or induction loop at specific Theme Park attractions and entertainment locations. This service is recommended for Guests with mild to moderate hearing loss.
                </li>
                <li>
                    <strong>Handheld Captioning</strong> displays on-screen text of narrations, spoken dialogue, or music at specific Theme Park attractions and shows. For select services above, we suggest that you bring your own headphones, induction loop, or other accessories as the device has a standard headphone jack. For a list of locations where these services are available, visit the website.
                    <p><strong>Guest Relations Locations:</strong></p>
                    <ul>
                        <!-- This loops through the array of guest relations locations and displays them as list items -->
                        <li *ngFor="let location of parkAccessibility?.guestRelationsLocations">
                            {{ location }}
                        </li>
                    </ul>
                </li>
            </ul>

            <strong>AMERICAN SIGN LANGUAGE INTERPRETATION AT LIVE SHOWS:</strong>
            <p>
                Malt Fizzby World® Resort provides Sign Language interpretation for Guests at specific live Theme Park shows on a rotating basis as indicated below:
            </p>
            <p><strong>Sign Language Interpretation Schedule:</strong></p>
            <ul>
                <li>
                    {{ parkAccessibility?.signLanguageSchedule }}
                </li>
            </ul>
            <p>
                The schedule is updated on a weekly basis and can be requested by e-mail. You can also obtain a schedule by visiting a Theme Park Guest Relations location upon arrival. This service is not a guided tour; a sign language interpreter will not escort parties around the Theme Parks. Special Requests for ASL interpretation can be made for select special events and dinner shows at least 14 days in advance. You will be contacted prior to your visit to verify arrangements and will receive a show schedule that lists the details of the interpreted performances.
            </p>
            
            <strong>WRITTEN SCRIPTS:</strong>
            <p>
                Packets containing attraction dialogue and narration, a flashlight, pencil and paper are available for many attractions and shows. Please inquire with a Cast Member at the entrance to a specific attraction or show about availability of this resource.
            </p>
            
            <strong>RESTROOMS:</strong>
            <p>
                Restrooms are available throughout Malt Fizzby World® Resort. Most restrooms contain baby changing stations. Multi-stall restroom facilities are available in addition to single-stall companion restroom facilities.
            </p>
            <ul>
                <li>
                    <strong>MENSTRUATION PRODUCTS:</strong>
                    <p>
                        Menstruation products are available for free through vending machines in all Women’s and Companion Guest Restrooms.
                    </p>
                </li>
                <li>
                    <strong>COMPANION RESTROOMS:</strong>
                    <p>
                        Companion restrooms are single-stall gender neutral restrooms that provide additional space and privacy for individuals with a companion or caregiver.
                    </p>
                    <p><strong>Companion Restroom Locations:</strong></p>
                    <ul>
                        <!-- This loops through the array of companion restroom locations and displays them as list items -->
                        <li *ngFor="let location of parkAccessibility?.companionRestroomLocations">
                            {{ location }}
                        </li>
                    </ul>
                </li>
            </ul>

            <strong>FIRST AID LOCATIONS:</strong>
            <p>
                If you begin to feel ill or find that you require medical assistance, please visit one of the First Aid centers. Nurses are available during normal park operating hours to offer over-the-counter medications, bandages and other quick remedies.
            </p>
            <ul>
                <li>
                    <strong>ADULT CHANGING TABLES:</strong>
                    <p>
                        First Aid locations in the Theme Parks and Water Parks have restroom facilities that provide additional space and privacy, as well as exam tables and large cots that can be used as adult changing tables for individuals who may need personal care assistance from a member of their party.
                    </p>
                </li>
                <li>
                    <strong>INCONTINENCE SUPPORT:</strong>
                    <p>
                        A limited selection of incontinence products are available at Guest First Aid locations.
                    </p>
                    <p><strong>First Aid Locations:</strong></p>
                    <ul>
                        <li>
                            {{ parkAccessibility?.firstAidLocations }}
                        </li>
                    </ul>
                </li>
            </ul>
            
            <strong>FOOD ALLERGIES & SPECIAL DIETARY REQUESTS:</strong>
            <p>
                Most table service restaurants in the Theme Parks can accommodate many common food allergies or intolerances, such as allergy-friendly items. Special dietary requests can be made ahead of time when booking a dining reservation, or by speaking with the chef or manager on duty at most restaurants.
            </p>
            <p>
                Guests with disabilities who prefer sit-down dining experiences while in the Theme Parks are strongly recommended to make dining reservations in advance. Many restaurants may be at capacity or unavailable on the day of your visit. Dining reservations can be made in advance on the website. Cancellation fees may apply, so be sure to confirm the policy before finalizing your reservation.
            </p>
            <p>
                If you or anyone in your party has either 4 or more allergy-friendly requests, requires pureed meals, or adheres to a medically-restrictive diet (such as very low protein), ask for a Special Dietary Request Form no sooner than 14 days prior to your arrival. With the information you provide, the Special Diets team will assist you in navigating the dining process, which may include providing the restaurants you intend to visit with advance notice.
            </p>
            <p>
                Guests are also allowed to bring food items into the Theme Parks. Note that Cast Members are prohibited from storing, preparing, cooking or reheating any food brought into the Theme Parks. 
            </p>
    </div>
</div>


<!-- Add logic (maybe ngIf statement) to embed different map based on park.name  -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.0144449304867!2d-81.58434382625774!3d28.41882099375668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd7e536aa54b81%3A0x66b8bcd58da841a!2sMagic%20Kingdom%20Park!5e0!3m2!1sen!2sus!4v1716062497281!5m2!1sen!2sus" width="1250" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

