.img-container {
    width: 100%;
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center;
}

#header-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

h1 {
    text-align: center;
    margin: 100px;
}

#intro {
    margin: 50px;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
}

.text-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Defines two columns of equal width */
    gap: 10px; /* Adds spacing between columns */
    margin: 50px;
    margin-bottom: 100px;
}
  
.column1, .column2 {
    padding: 10px;
    text-align: justify;
}

ul, li {
    margin-top: 10px;
    margin-bottom: 10px;
}


  