a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

a:hover img {
  outline: 2px solid blue;
}

.park-image {
    width: 470px;
    height: 220px;
    border-radius: 15px;
  }

p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  margin-top: 5px;
}
  