nav {
    background-color: #05254D;
    height: 60px;
}

#logo {
    height: 60px;
    width: 60px;
    margin-left: 100px;
    margin-right: 70px;
}

a:hover img {
    outline: 2px solid blue;
    border-radius: 30px;
}

#signature {
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
}