<app-navbar-button />

<!-- Create and use variable for button img src attribute to change for each park -->

<div class="container">
    <!-- Add attraction.imageUrl and attraction.name variables to img src and alt attributes -->
    <img src="" alt="">

    <!-- Add attraction.name variable -->
    <h1></h1>

    <!-- Add attraction.description variable -->
    <p></p>

    <p>Accessibility</p>
    <ul>
        <!-- Add '*ngFor="let attractionAccessibilityDetail of attractionAccessibility"' as attribute to li -->
        <li>
            <!-- For each attribute of attractionAccessibility, if === true, add to li -->
        </li>
    </ul>
</div>

