<app-navbar-button />

<!-- Create and use variable for button img src attribute to change for each park -->

<div class="container">
    <!-- Add attraction.imageUrl and attraction.name variables to img src and alt attributes -->
    <img src="{{attraction?.imageUrl}}" alt="{{attraction?.name}}">

    <!-- Add attraction.name variable -->
    <h1>{{attraction?.name}} Attraction</h1>

    <!-- Add attraction.description variable -->
    <p>Description {{attraction?.description}}</p>

    <p>Accessibility</p>
    <ul>
        <!-- Add '*ngFor="let attractionAccessibilityDetail of attractionAccessibility"' as attribute to li -->
        <li *ngFor="let detail of attractionAccessibility">
            <!-- Loop through attributes of attractionAccessibility, if === true, add to li -->
        </li>
    </ul>
</div>

