<!-- Create and use variable for button img src attribute to change for each park -->
<app-navbar-button />

<div class="container">
    <div class="image-container">
        <img src="{{attraction?.imageUrl}}" alt="{{attraction?.name}}" class="responsive-image">
    </div>

    <div class="content-container">
        <h1>{{attraction?.name}}</h1>

        <p>{{attraction?.description}}</p>

        <h2>Accessibility Information:</h2>

        <div class="columns">
            <div class="column">
                <ul>
                    <!-- This loops through the attributes of attractionAccessibility and adds them as a list item -->
                    <li *ngFor="let attr of displayedAttributesColumn1">
                        {{ attr.key }}: {{ attr.value }}
                    </li>
                </ul>
            </div>

            <div class="column">
                <ul>
                    <!-- This loops through the attributes of attractionAccessibility and adds them as a list item -->
                    <li *ngFor="let attr of displayedAttributesColumn2">
                        {{ attr.key }}: {{ attr.value }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

