app-navbar {
    position: relative;
}

.container {
    display: flex;
    width: 100%;
    margin: 130px 0; /* Sets top and bottom margins to 130px and left and right margins to 0 */
    gap: 50px;
    height: auto; /* Allows the container to take the necessary height */
}

.image-container {
    padding-left: 50px;
    flex: 1; /* Makes image-container take up equal space */
    display: flex;
    align-items: flex-start; /* This keeps the image/-container pinned to the top of the page so it doesn't get pushed down if there's a lot of text in content-container */
}
  
.responsive-image {
    width: 100%; /* This keeps the image from getting pushed further down the page if there's a lot of text in content-container */
    max-width: 100%; /* Maintains aspect ratio */
    height: auto;
    max-height: 100%; /* Prevents the image from exceeding container's height */
    object-fit: contain; /* Ensures the image scales correctly */
}

.content-container {
    overflow: auto; /* Allows scrolling if content overflows */
    padding-right: 50px;
    flex: 1; /* Makes it take up equal space */
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
}

p {
    text-align: justify;
    font-size: 18px;
}

h2 {
    font-size: 22px;
    margin-top: 70px;
}

.columns {
    display: flex;
}
  
.column {
    flex: 1;
}

ul {
    margin-top: -5px;
}

li {
    margin-bottom: 7px;
}

