.container {
    margin-top: 70px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
    font-family: 'BubblegumSans-Regular';
}

.parks-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}