<app-navbar />

<!-- Add park name variable -->
<h1> List of Attractions</h1>

<!-- Add underline -->

<ul class="attractions-list">
    <!-- Add '*ngFor="let attraction of attractions"' as attribute to li -->
    <li >
        <!-- Add {{attraction.name}} -->
    </li>
</ul>


<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.0144449304867!2d-81.58434382625774!3d28.41882099375668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd7e536aa54b81%3A0x66b8bcd58da841a!2sMagic%20Kingdom%20Park!5e0!3m2!1sen!2sus!4v1716094335282!5m2!1sen!2sus" width="1250" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<router-outlet></router-outlet>
