<app-navbar />

<h1>{{park?.name}} List of Attractions</h1>

<div class="underline-container">
    <img src="../assets/images/underline-w-star-removebg.png" id="underline">
</div>

<div class="attractions-container">
    <ul class="attractions-list">
        <!-- This loops through the park's list of attractions and adds each attraction as a list item -->
        <li *ngFor="let attraction of attractions">
            <a [routerLink]="[attraction?.id,'attractionaccessibility',attraction?.attractionAccessibility?.id]">
                {{attraction?.name}}
            </a>
        </li>
    </ul>
</div>


<!-- Add logic (maybe ngIf statement) to embed different map based on park.name  -->
<app-map [center]="[28.3852, -81.5639]" [zoom]="14" [markers]="[[28.3852, -81.5639], [28.3772, -81.5707]]"></app-map>

<div class="map">
    <iframe width="1250" height="450" src="https://www.openstreetmap.org/export/embed.html?bbox=-81.58012479543687%2C28.417046584436452%2C-81.57830089330673%2C28.418216652722982&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/28.41763/-81.57921">View Larger Map</a></small>
    
    <!-- Hollywood Studios Map: src and href attributes -->
    <!-- src="https://www.openstreetmap.org/export/embed.html?bbox=-81.57468795776369%2C28.347937211530706%2C-81.54550552368165%2C28.366668959698583&amp;layer=mapnik" 
    href="https://www.openstreetmap.org/#map=15/28.3573/-81.5601"  -->

    <!-- Animal Kingdom Map: src and href attributes -->
    <!-- src="https://www.openstreetmap.org/export/embed.html?bbox=-81.60537242889406%2C28.351411898363622%2C-81.57618999481203%2C28.370143033421698&amp;layer=mapnik" 
    href="https://www.openstreetmap.org/#map=15/28.3608/-81.5908" -->

    <!-- EPCOT Map: src and href attributes -->
    <!-- src="https://www.openstreetmap.org/export/embed.html?bbox=-81.56331539154054%2C28.36300595443888%2C-81.53413295745851%2C28.38173504322311&amp;layer=mapnik" 
    href="https://www.openstreetmap.org/#map=15/28.3724/-81.5487" -->
</div>

