<app-navbar />

<h1>{{park?.name}} List of Attractions</h1>

<div class="underline-container">
    <img src="../assets/images/underline-w-star-removebg.png" id="underline">
</div>

<div class="attractions-container">
    <ul class="attractions-list">
        <!-- This loops through the park's list of attractions and adds each attraction as a list item -->
        <li *ngFor="let attraction of attractions">
            <a [routerLink]="[attraction?.id,'attractionaccessibility',attraction?.attractionAccessibility?.id]">
                {{attraction?.name}}
            </a>
        </li>
    </ul>
</div>


<!-- This changes the map based on the park's name  -->
<app-map [center]="[park?.latitude,park.longitude]" [markers]="[park?.latitude,park?.longitude]"></app-map>

