h1 {
    text-align: center;
    margin-top: 100px;
}

.underline-container {
    text-align: center; 
}

.attractions-container {
    margin: 50px 50px 100px 50px;
}

.attractions-list {
    display: flex; /* Enables flexbox for column layout */
    flex-wrap: wrap; /* Wraps list items to multiple columns */
    margin-bottom: 50px;
}
  
.attractions-list li {
    width: 20%; /* Sets width for each list item so they display in 5 columns of equal width */
}
  
.map {
    margin-top: 100px;
    margin-bottom: 100px;
}
